# Gather Package Download Metrics

## Setup

Use of this notebook involves setup via https://github.com/ofek/pypinfo#installation. An environment variable is expected for pypinfo to work properly. For example: `export GOOGLE_APPLICATION_CREDENTIALS=/path/to/credentials.json`

In [1]:
import json

import pandas as pd

In [6]:
loi_target_projects = [
    # "antarctic_plots",
    "polartoolkit",
]
loi_target_projects

['polartoolkit']

In [15]:
df = pd.DataFrame(data={"project": ["polartoolkit"], "date": ["2021-01-01"]})
df["date"] = pd.to_datetime(df.date)
df

        project       date
0  polartoolkit 2021-01-01

In [54]:
# project = "polartoolkit"
project = "antarctic-plots"
start_date = "2021-01-01"

In [61]:
# gather total downloads
total_downloads = json.loads(
    subprocess.run(
        [
            "pypinfo",
            "--json",
            "--start-date",
            start_date,
            "--limit",
            "1000",
            project,
        ],
        capture_output=True,
        check=True,
    ).stdout
)["rows"][0]["download_count"]

total_downloads

666

In [59]:
# gather downloads by year and month, ordered by month
output = json.loads(
    subprocess.run(
        [
            "pypinfo",
            "--json",
            "--start-date",
            start_date,
            "--limit",
            "1000",
            "--order",
            "download_month",
            project,
            "month",
        ],
        capture_output=True,
        check=True,
    ).stdout
)

monthly_downloads = pd.DataFrame(output["rows"])
monthly_downloads

    download_count download_month
0               74        2024-01
1               83        2023-12
2              332        2023-11
3                9        2023-10
4               12        2023-09
5                7        2023-08
6                9        2023-07
7               30        2023-06
8               10        2023-05
9                1        2023-04
10              26        2023-03
11               7        2023-02
12               2        2023-01
13               6        2022-12
14               7        2022-11
15               4        2022-10
16              24        2022-09
17               4        2022-08
18              19        2022-07

In [63]:
# gather downloads by country
output = json.loads(
    subprocess.run(
        [
            "pypinfo",
            "--json",
            "--start-date",
            start_date,
            "--limit",
            "1000",
            project,
            "country",
        ],
        capture_output=True,
        check=True,
    ).stdout
)

country_downloads = pd.DataFrame(output["rows"])
country_downloads

   country  download_count
0       US             524
1       CN              29
2       GB              20
3       HK              16
4       DE              11
5       FR              11
6       NZ              10
7       IN               6
8       BR               5
9       NL               5
10      RU               4
11      CA               3
12      AU               3
13      ID               2
14      FI               1
15      NO               1
16      AT               1
17      CO               1
18      IR               1
19      TW               1
20      AE               1
21      TR               1
22      ES               1
23      DZ               1
24      JP               1
25      UY               1
26      IE               1
27      KR               1
28      DK               1
29      BG               1
30      EG               1